@charset "UTF-8";
/* ブレークポイント */
/* A Modern CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
/* ul[class],
ol[class] {
  padding: 0;
} */
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
/* @media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
} */
body {
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "MS P明朝", "MS PMincho", serif;
}
body * {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.inner {
  max-width: 1280px;
  margin: 0 auto;
}

.headerBlock {
  display: flex;
  position: fixed;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  transition: 0.5s;
  left: 0;
  right: 0;
}
.headerBlock .headerLeft {
  display: flex;
  flex: 1;
  margin-left: 3%;
  align-items: center;
}
.headerBlock .headerLeft .headerLogo {
  margin-right: 5%;
}
.headerBlock .headerLeft .headerLogo .logo {
  display: block;
}
.headerBlock .headerLeft .headerLogo .logoScroll {
  display: none;
}
.headerBlock .headerLeft .headerMenu-pc ul {
  display: flex;
}
.headerBlock .headerLeft .headerMenu-pc ul li a {
  padding: 0.8rem 1.25rem;
  color: #fff;
}
.headerBlock .headerRight {
  margin-right: 3%;
}
.headerBlock .headerRight button {
  color: #fff;
  background: #978F10;
  padding: 1rem 2.3125rem;
  box-sizing: border-box;
  border: none;
}
.headerBlock .headerRight button::before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  background-size: contain;
  vertical-align: baseline;
  transform: translateY(20%);
  margin-right: 5px;
  background-image: url("../../img/calender.png");
}

.headerScroll {
  background: #fff;
  transition: 0.5s;
}
.headerScroll .headerLeft .headerLogo .logo {
  display: none;
}
.headerScroll .headerLeft .headerLogo .logoScroll {
  display: block;
}
.headerScroll .headerLeft .headerMenu-pc ul li a {
  color: #000;
}

.footerInfo {
  padding: 60px 0;
  background-image: url(../../img/bg-3.png);
  background-size: cover;
}
.footerInfo .footerNav {
  writing-mode: vertical-lr;
}
.footerInfo .footerNav a {
  color: #000;
  line-height: 2;
  letter-spacing: 1rem;
  font-size: 1.125rem;
}
.footerInfo .footerLogo {
  display: block;
  width: 145px;
  height: 96px;
  margin: 90px auto 65px;
}
.footerInfo .shopInfo {
  margin: 0 auto;
  text-align: center;
}
.footerInfo .shopInfo .shopAddress {
  margin-bottom: 15px;
}
.footerInfo .shopInfo p {
  display: inline-block;
}
.footerInfo .shopInfo p:first-of-type {
  margin-right: 15px;
}

.copyRight {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 21px 0 23px;
  font-size: 0.75rem;
}

.c-slideBox {
  height: 1079px;
  overflow: hidden;
  position: relative;
}
.c-slideBox .slideItem {
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  animation: anime ease-out 30s 0s infinite;
  overflow: hidden;
  /* ふわっとアニメーション */
}
.c-slideBox .slideItem:nth-of-type(2) {
  animation-delay: 10s;
}
.c-slideBox .slideItem:nth-of-type(3) {
  animation-delay: 20s;
}
@keyframes anime {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
    /* transform: scale(1.2) */
  }
  45% {
    opacity: 0;
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}

.c-modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.c-modal .modal-overlay {
  display: flex;
  position: fixed;
  background: rgba(255, 255, 255, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  justify-content: center;
}
.c-modal .modal-overlay .modal-container {
  display: block;
  position: absolute;
  background: #fff;
  width: 450px;
  /* height: 500px; */
  top: 15%;
  margin: 0 auto;
  text-align: center;
}
.c-modal .modal-overlay .modal-container .modal-title {
  font: normal normal medium 20px/27px "YuMincho";
  border-bottom: 1px solid #E7E7E7;
  margin: 25px 30px 0;
  padding-bottom: 25px;
}
.c-modal .modal-overlay .modal-container .modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: none;
  background: none;
}
.c-modal .modal-overlay .modal-container .modal-close::after {
  content: "\f00d";
  font: var(--fa-font-solid);
  position: absolute;
  font-size: 1.5rem;
  top: 10px;
  right: 10px;
}
.c-modal .modal-overlay .modal-container .modal-content .reserve-form {
  text-align: left;
  padding: 25px;
  padding-bottom: 0;
}
.c-modal .modal-overlay .modal-container .modal-content .reserve-form label {
  display: block;
  margin-bottom: 8px;
}
.c-modal .modal-overlay .modal-container .modal-content .reserve-form input {
  width: 100%;
  border: 1px solid #E7E7E7;
  margin-bottom: 15px;
}
.c-modal .modal-overlay .modal-container .modal-content .reserve-form select {
  width: 300px;
  margin-bottom: 15px;
}
.c-modal .modal-overlay .modal-container .modal-content .reserve-form #plan {
  font: normal normal medium 14px/19px "YuMincho";
}
.c-modal .modal-overlay .modal-container .modal-content .reserve-form #js-datepicker {
  margin-bottom: 0;
}
.c-modal .modal-overlay .modal-container .modal-content .reserve-form .submitBtn {
  display: block;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 64px auto 90px;
}

/* モーダルアニメーション */
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden=false] .modal-overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=false] .modal-container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal-overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal-container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal-container,
.micromodal-slide .modal-overlay {
  will-change: transform;
}

.c-card {
  display: flex;
  width: 100%;
  max-height: 500px;
  margin-bottom: 122px;
}
.c-card .cardImg {
  max-width: 52%;
  overflow: hidden;
}
.c-card .cardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s all;
}
.c-card .cardContents {
  max-width: 45%;
  margin-left: 5%;
  margin-right: auto;
}
.c-card .cardContents .cardTitle {
  font-size: 2.25rem;
  line-height: 1.72;
  margin-top: 10px;
  margin-bottom: 40px;
}
.c-card .cardContents p {
  line-height: 2;
}
.c-card:hover .cardImg {
  overflow: hidden;
}
.c-card:hover .cardImg img {
  transform: scale(1.1);
  transition: 1s all;
}

.c-card-info {
  display: flex;
  background: #F6F6F6;
  width: 46%;
  height: 120px;
  margin-bottom: 20px;
}
.c-card-info .infoContent {
  padding: 12px 30px;
}

.reverse {
  flex-direction: row-reverse;
}
.reverse .cardContents {
  margin-left: auto;
  margin-right: 5%;
}

.c-card-room {
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 140px;
}
.c-card-room .roomImg {
  width: 45%;
  max-width: 525px;
  position: absolute;
  top: -60px;
  overflow: hidden;
}
.c-card-room .roomImg img {
  transition: 1s all;
}
.c-card-room .roomContent {
  background-image: url("../../../img/bg-2.png");
  background-size: cover;
  width: 80%;
  padding: 55px;
  padding-left: 20%;
  margin-left: 30%;
}
.c-card-room .roomContent h3 {
  font-size: 1.5rem;
  margin-bottom: 46px;
}
.c-card-room .roomContent p {
  line-height: 2;
  margin-bottom: 47px;
}
.c-card-room .roomContent .comment {
  line-height: 1.5;
  font-size: 0.875rem;
}
.c-card-room:hover .roomImg {
  overflow: hidden;
  transition: 1s all;
}
.c-card-room:hover .roomImg img {
  transform: scale(1.1);
  transition: 1s all;
}

.reverse-room {
  flex-direction: row-reverse;
}
.reverse-room .roomContent {
  margin-left: unset;
  margin-right: 30%;
  padding-left: 5%;
  padding-right: 20%;
}

.c-linkBtn {
  display: inline-block;
  margin-top: 40px;
}
.c-linkBtn a {
  padding: 1rem 2.5rem;
  border: 1px solid #707070;
  color: #000000;
  height: auto;
  transition: 0.2s all;
}
.c-linkBtn a:hover {
  background: #978F10;
  color: #fff;
  border: 1px solid #978F10;
  transition: 0.2s all;
}

.c-sectionTitle {
  font: normal normal medium 36px/32px "YuMincho";
  text-align: center;
  margin-bottom: 60px;
}
.c-sectionTitle img {
  display: block;
  margin: 0 auto 10px;
}

.c-tabPanel {
  width: 100%;
  margin: 0 auto;
}
.c-tabPanel .tab-group {
  display: flex;
  justify-content: center;
}
.c-tabPanel .tab-group .tab {
  cursor: pointer;
}
.c-tabPanel .tab-group li {
  padding: 10px 20px;
}
.c-tabPanel .tab-group .is-active {
  text-decoration: underline;
  transition: all 0.2s ease-out;
}
.c-tabPanel .panel-group {
  margin-top: 50px;
}
.c-tabPanel .panel-group .panel {
  display: none;
}
.c-tabPanel .panel-group .panel > .c-card-info:nth-of-type(5), .c-tabPanel .panel-group .panel .c-card-info:nth-of-type(5) {
  margin-bottom: 0;
}
.c-tabPanel .panel-group .panel.is-show {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.c-breadCrumbList {
  margin: 30px 0 90px;
}
.c-breadCrumbList ul {
  display: flex;
}
.c-breadCrumbList ul li a {
  color: #000;
}
.c-breadCrumbList ul li a:hover {
  text-decoration: underline;
}
.c-breadCrumbList ul li::after {
  content: ">";
  margin-left: 5px;
  margin-right: 5px;
}
.c-breadCrumbList ul li:last-of-type::after {
  content: "";
}

.p-mainVisual {
  position: relative;
}
.p-mainVisual .mainTitle {
  position: absolute;
  writing-mode: vertical-rl;
  color: #fff;
  z-index: 100;
  font: normal normal 34px/42px "YuMincho";
  top: 30%;
  right: 25%;
  line-height: 2;
  letter-spacing: 1.25rem;
}

.mainVisual-room {
  text-align: center;
}
.mainVisual-room .mainTitle-room {
  position: absolute;
  display: inline-block;
  color: #fff;
  top: 50%;
  transform: translateX(-50%);
  font: normal normal 34px/42px "YuMincho";
}
.mainVisual-room .mainVisual-room {
  height: 500px;
}
.mainVisual-room .mainVisual-room img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.p-mainCatch {
  background-image: url(../../../img/bg.png);
  width: 100%;
  height: 681px;
  writing-mode: vertical-rl;
  display: flex;
}
.p-mainCatch .mainCatchContainer {
  display: block;
  width: 600px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.p-mainCatch .mainCatchContainer .catchTitle {
  font-size: 1.75rem;
  line-height: 1.5;
  font-family: "YuMincho";
  letter-spacing: 0.5rem;
}
.p-mainCatch .mainCatchContainer .catchTitle .brIndent {
  display: block;
  text-indent: 3rem;
}
.p-mainCatch .mainCatchContainer p {
  margin-top: 50px;
  letter-spacing: 0.25rem;
  font-family: "YuMincho";
}
.p-mainCatch .mainCatchContainer .ryokanName {
  align-self: flex-end;
  font-size: 1.375rem;
  letter-spacing: 0.5rem;
}

.p-mainContents {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 106px;
  margin-bottom: 78px;
}

.mainContents-room {
  width: 100%;
  margin-top: 90px;
}
.mainContents-room .mainContent-roomContainer {
  width: 100%;
}
.mainContents-room .mainContent-roomContainer h2 {
  height: 2;
  text-align: center;
  margin-bottom: 130px;
}

.p-recommendationPlan {
  background-image: url(../../../img/bg02.png);
  background-size: cover;
  width: 100%;
  padding: 40px 0 140px;
}
.p-recommendationPlan .planContens {
  display: flex;
  justify-content: space-around;
}
.p-recommendationPlan .planContens .planMenu {
  width: 30%;
  text-align: left;
}
.p-recommendationPlan .planContens .planMenu .planImg {
  overflow: hidden;
}
.p-recommendationPlan .planContens .planMenu .planImg img {
  width: 100%;
  transition: 1s all;
}
.p-recommendationPlan .planContens .planMenu h3 {
  font-size: 1.25rem;
  line-height: 1.25;
  margin-top: 28px;
  margin-bottom: 30px;
}
.p-recommendationPlan .planContens .planMenu p {
  width: 80%;
  line-height: 2;
}
.p-recommendationPlan .planContens .planMenu:hover .planImg {
  overflow: hidden;
}
.p-recommendationPlan .planContens .planMenu:hover .planImg img {
  transform: scale(1.1);
  transition: 1s all;
}

.p-info {
  margin-top: 60px;
  margin-bottom: 60px;
}

.p-access {
  background-image: url(../../../img/bg-1.png);
  background-size: cover;
  padding: 50px 0 110px;
}
.p-access .addressBlock {
  display: flex;
  justify-content: space-between;
}
.p-access .addressBlock .addressImg {
  width: 50%;
}
.p-access .addressBlock .addressInfo {
  width: 45%;
  text-align: left;
}
.p-access .addressBlock .addressInfo th, .p-access .addressBlock .addressInfo td {
  display: block;
  line-height: 2;
}
.p-access .gmapBlock {
  margin: 70px auto 0;
  width: 60%;
  position: relative;
  overflow: hidden;
}
.p-access .gmapBlock::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.p-access .gmapBlock iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  transition: all ease 0.2s;
}

.p-onsenExplanation {
  margin-bottom: 80px;
}
.p-onsenExplanation .explanationContainer {
  padding: 80px 0;
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
}
.p-onsenExplanation .explanationContainer h2 {
  text-align: center;
  margin-bottom: 50px;
}
.p-onsenExplanation .explanationContainer .explanationContent {
  display: flex;
  flex-wrap: wrap;
}
.p-onsenExplanation .explanationContainer .explanationContent dl {
  width: 100%;
  display: flex;
  border-top: 1px solid #E7E7E7;
  padding: 15px 0;
  font-size: 0.9375em;
  line-height: 2;
}
.p-onsenExplanation .explanationContainer .explanationContent dl dt {
  width: 20%;
}
.p-onsenExplanation .explanationContainer .explanationContent dl dd {
  flex: 1;
}
.p-onsenExplanation .explanationContainer .explanationContent dl:last-of-type {
  border-bottom: 1px solid #E7E7E7;
}

/* @use "object/utility/spacing"; *//*# sourceMappingURL=style.css.map */