.p-access {
    background-image: url(../../../img/bg-1.png);
    padding: 50px 0 110px;

    .addressBlock {
        display: flex;
        justify-content: space-between;

        .addressImg {
            width: 50%;
        }

        .addressInfo {
            width: 45%;
            text-align: left;

            th, td {
                display: block;
                line-height: 2;
            }
        }
    }

    .gmapBlock {
        margin: 70px auto 0;
        width: 60%;
        position: relative;
		 overflow: hidden;
        &::before{
            content: '';
            display: block;
            padding-top: 56.25%;
        }
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;		
            object-fit: cover; 
            object-position: bottom;
            transition: all ease .2s;
        }
    }
}